div {
    box-sizing: border-box;
}

table {
    border-collapse: collapse
    /* 테이블 간격 없앰 */
}

td, th {
    border: 1px solid black; 
}

.cart-bg {
    width: 100%;
    background-color: #c2d3de;
    padding: 30px;
}

.cart-table {
    background-color: white;
    width: 100%;
    max-width: 700px;
    margin: auto;
    border-radius: 10px;
}

th,td {
    padding: 15px;
    border: 2px solid #c2d3de;
}

.cell-long {
    width: 700px;
}